<div class="container text-center border border-dark p-4 colo">
  <h1 class="mb-4">
    <u>{{ title }}</u>
  </h1>
  <div class="row">
    <div class="col-12">
      <button (click)="onClick()" class="btn btn-primary mb-4">
        Display details
      </button>
      <h5 *ngIf="display">Hello! Have a look on assignment 1</h5>
    </div>
    <div class="col-12">
      <p>Button is clicked {{ count }} times</p>
    </div>
    <div class="col-12 mb-3">
      <input
        type="text"
        [(ngModel)]="name"
        placeholder="Enter the text"
      />&nbsp;
      <button (click)="Add()" class="btn btn-info">Add</button>
    </div>
    <!-- <li class="li" *ngFor="let items of nameList; let i = index">
      <p [ngClass]="(i + 1) % 5 == 0 ? 'blue' : ''">{{ items.text }}</p>
    </li> -->
    </div>
    <div class="table-responsive ">
    <table  [hidden]="!f" class="table table-bordered border-dark">
      <thead>
      <tr>
        <th>{{s}}</th>
        <th>{{tx}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let items of nameList; let i = index" [ngClass]="(i + 1) % 5 == 0 ? 'blue' : ''" >
        <td>{{i+1}}</td>
        <td>{{items.text}}</td>
      </tr>
      </tbody>

    </table>
    </div>

</div>
<router-outlet></router-outlet>
