<div class="container text-center border border-dark p-4 colo">
  <h1 class="mb-4">
    <u>{{ title }}</u>
  </h1>
  <div class="row">
    <div class="col-12">
      <button (click)="onClick()" class="btn btn-primary mb-4">
        Display details
      </button>
      <h5 *ngIf="display">Hello! Have a look on assignment 1</h5>
    </div>
    <div class="col-12">
      <p>Button is clicked {{ count }} times</p>
    </div>
    <div class="col-12">
      <input
        type="text"
        [(ngModel)]="name"
        placeholder="Enter the text"
      />&nbsp;
      <button (click)="Add()" class="btn btn-info">Add</button>
    </div>
    <li class="li" *ngFor="let items of nameList; let i = index">
      <p [ngClass]="(i + 1) % 5 == 0 ? 'blue' : ''">{{ items.text }}</p>
    </li>
  </div>
</div>
<router-outlet></router-outlet>
